#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* chat container */

#chat_container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

/* chat messages */
.message {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  
}

/* bot message */
.wrapper.ai .message {
  background-color: #dcf8c6;
}

/* text area */
textarea {
  flex: 1;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 100%;
}

/* form */
form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: transparent;
  display: flex;
  flex-direction: row;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}
